.logo {
    width: 25%;
    border-radius: 10px;
}

body {
    background-image: url("/IMG/background/fondo.jpg");
}

.MultiCarousel {
    float: left;
    overflow: hidden;
    padding: 15px;
    width: 100%;
    position: relative;
}

.MultiCarousel .MultiCarousel-inner {
    transition: 1s ease all;
    float: left;
}

.MultiCarousel .MultiCarousel-inner .item {
    float: left;
}

.MultiCarousel .MultiCarousel-inner .item>div {
    text-align: center;
    padding: 10px;
    margin: 10px;
    background: #f1f1f1;
    color: #666;
}

.MultiCarousel .leftLst,
.MultiCarousel .rightLst {
    position: absolute;
    border-radius: 50%;
    top: calc(50% - 20px);
}

.MultiCarousel .leftLst {
    left: 0;
}

.MultiCarousel .rightLst {
    right: 0;
}

.MultiCarousel .leftLst.over,
.MultiCarousel .rightLst.over {
    pointer-events: none;
    background: #ccc;
}

h2 {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    color: #ffffff;
}

hr.new1 {
    border: 3px solid white;
    border-radius: 5px;
}

.imagen1 {
    width: 100%;
    height: 100%;
}

.imagen2 {
    width: 100%;
    height: 185px;
}

.imagen3 {
    width: 150px;
    margin: 10px;
}

.imagen4 {
    width: 150px;
    margin: 10px;
}

.imagen5 {
    width: 170px;
    padding: 10px;
}

.cuadrado {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.cuadrado_destacados {
    border-radius: 10px;
}

.imagen_analisis {
    width: 700px;
    margin-bottom: 40px;
    border-radius: 10px;
}

.slider_texto {
    font-family: 'Roboto Condensed', sans-serif;
}

.portada_cuadrado {
    border-radius: 10px;
}

.texto {
    display: block;
    margin-left: 10px;
    font-size: 100%;
    text-align: justify;
    margin-top: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}

.columna {
    display: flex;
}